<nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-lg site-navbar" id="siteNavbar">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Luiz R. Dererita</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHome"
            aria-controls="navHome" aria-expanded="false" aria-label="Alternar navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navHome">
      <ul class="navbar-nav gap-lg-2">
        <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="#trajetoria">Minha Jornada</a></li>
        <li class="nav-item"><a class="nav-link" href="#habilidades">Habilidades</a></li>
        <li class="nav-item"><a class="nav-link" href="#certificados">Certificados</a></li>
        <li class="nav-item"><a class="nav-link" href="#projetos">Projetos</a></li>
        <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>
